.serviceSection{
    background-color: var(--DarkThemeColor);
    color: var(--WhiteColor);
    background-image: url(../../../public/image/ServiceSectionImg/lineBG.png);
    padding: 100px 0px;
}

.serviceSection .mainHeading{
    padding: 20px 0px;
}

.serviceSection>div>div>p{
    line-height: 200%;
    font-family: light;
    color: var(--LightTextColor);
    font-weight: 900;
    padding: 30px 0px;
}

@media only screen and (max-width: 900px) {
    .serviceSection{
        font-size: 13px;
    }
    .serviceSection>div>div>p{
        padding: 0px 0px 30px;
    }
}