.mainHeading {
    font-size: 250%;
}

.mainHeading span {
    color: var(--LightThemeColor);
    font-family: bold;
}

.centerMainHeading {
    width: 40%;
    margin: 0px auto;
    text-align: center;
    padding: 10px 0px;
}

@media only screen and (max-width: 1150px) {
    .centerMainHeading {
        width: 50%;
    }
}


@media only screen and (max-width: 900px) {
    .centerMainHeading {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .centerMainHeading {
        width: 80%;
    }
}