    .miniHeading div{
    background-color: var(--LightThemeColor);
    clip-path: polygon(50% 83%, 64% 24%, 100% 0%, 64.4% 39%, 50% 100%, 34.1% 36%, 0% 0%, 34.4% 21%);
    width: 140px;
    height: 10px;
}

.miniHeading p{
    font-style: italic;
}

.miniHeading p span{
    color: var(--LightThemeColor);
}