.serviceCard{
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    padding: 15%;
    position: relative;
    background-color: var(--DarkThemeColor);
}

.serviceCard::after{
    content: '';
    border-top: 30px solid var(--LightThemeColor);
    position: absolute;
    top: 0;
    right: 0;
    border-left: 0px solid transparent;
    transition: 0.3s;
}

.serviceCard:hover:after{
    border-left: 30px solid transparent;

}

.serviceCard div{
    position: relative;
    width: 22%;
    padding-bottom: 22%;
    margin: 20px 0px 30px;
}

.serviceCard img{
    width: 100%;
    position: absolute;
}

.serviceCard div::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--LightThemeColor);
    transform: translate(50%, -50%);
    right: 0;
    top: 0;
    border-radius: 50%;
    opacity: 0.15;
}

.serviceCard h3{
    font-size: 130%;
    font-family: light;
}

.serviceCard p{
    font-size: 95%;
    line-height: 180%;
    font-family: light;
    color: var(--LightTextColor);
    font-weight: 900;
    padding: 30px 0px;
}

.serviceCard button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.serviceCard button a{
    color: var(--WhiteColor);
    display: flex;
    align-items: center;
    font-size: 135%;
    gap: 7px;
    transition: 0.3s;
}

.serviceCard button a svg{
    font-size: 120%;
    color: var(--LightThemeColor);
    transform: rotate(-45deg);
    transition: 0.3s;
}

.serviceCard button a:hover {
    color: var(--LightThemeColor);
}

.serviceCard button a:hover svg{
    transform: rotate(0deg);
}