.fristHeader {
    background-color: var(--DarkThemeColor);
    color: #fff;
    padding: 30px 40px;
}

.fristHeaderLeft {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    gap: 15px;
}

.fristHeaderLeft button {
    padding: 3px 10px;
    text-transform: uppercase;
    border: none;
    background-color: var(--LightThemeColor);
    color: var(--WhiteColor);

}

.fristHeaderLeft>p,
.fristHeaderLeft>a {
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: var(--WhiteColor);
    font-size: 88%;
}

.fristHeaderLeft>p>a {
    color: var(--WhiteColor);
    padding-left: 5px;
    text-decoration: underline;
}

.fristHeaderLeft>a {
    border-left: 1.5px solid rgba(255, 255, 255, 0.2);
    height: 18px;
}

.fristHeaderLeft>a>svg {
    font-size: 120%;
    color: var(--LightThemeColor);
    padding: 0px 5px;
    box-sizing: content-box;
}

.fristHeaderRight {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 80%;
}

.fristHeaderRight img {
    width: 25px;
    border-radius: 50%;
}

.fristHeaderRight p {
    font-size: 80%;
    display: flex;
    align-items: start;
    transition: 0.3s;
}

.fristHeaderRight:hover p {
    color: var(--LightThemeColor);
}

.fristHeaderRight ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 150%;
    background-color: var(--WhiteColor);
    padding: 25px 20px;
    height: auto;
    width: 90px;
    box-shadow: 1px 1px 5px 1px var(--ShadowColor);
    right: -20px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    font-size: 80%;
    gap: 5px;
}

.fristHeaderRight ul li {
    color: var(--BlackColor);
    cursor: pointer;
}

.fristHeaderRight:hover ul {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    top: 100%;
}

.mainHeader {
    height: 100px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    position: absolute;
}

.mainHeader>div {
    height: 100%;
}

.headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 12%;
}

.headerLogo img {
    width: 70%;
}

.navLinksBox {
    position: relative;
    height: 100%;
}

.navLinksBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 100%;
    background-color: var(--LightThemeColor);
    transform: scale(0.9) translate(-1%, 12%);
}

.navLinks {
    height: 100%;
    width: 100%;
    background-color: var(--WhiteColor);
    transform: scale(0.9);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLinks>ul {
    display: flex;
    gap: 20px;
    height: 100%;
}

.navLinks>ul>li,
.sideBarNavLinks>ul>li {
    height: 100%;
    position: relative;
}

.navLinks>ul>li>a,
.sideBarNavLinks>ul>li>a {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 105%;
    height: 100%;
}

.navLinks>svg {
    font-size: 200%;
}

.navLinks>ul>li>a>svg {
    font-size: 90%;
    color: var(--LightThemeColor);
}

.navLinks>ul>li>ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--WhiteColor);
    padding: 20px 30px;
    width: 220px;
    transform: rotateX(50deg);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.navLinks>ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
}

.navLinks>ul>li>ul>li {
    font-size: 90%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.navLinks>ul>li>ul>li:last-child {
    border-bottom: none;
}

.navLinks>ul>li>ul>li>a {
    position: relative;
    padding-left: 0px;
    transition: 0.3s;
    display: block;
    padding: 10px 0px;
    width: 100%;
}

.navLinks>ul>li>ul>li>a::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--LightThemeColor);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.navLinks>ul>li>ul>li:hover a {
    padding-left: 15px;
}

.navLinks>ul>li>ul>li:hover a::before {
    width: 10px;
}

.toggle {
    width: 100%;
    height: 100%;
    max-width: 110px;
    background-color: var(--LightThemeColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.toggle .toggleLines {
    height: 2px;
    width: 30%;
    background-color: var(--WhiteColor);
    border-radius: 5px;
    transition: 0.2s;
}

.toggle:hover .toggleLines {
    width: 20%;
}

.toggle .toggleLines:nth-child(odd) {
    width: 20%;
}

.toggle:hover .toggleLines:nth-child(odd) {
    width: 30%;
}

.bgBlackClrEffect {
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    visibility: hidden;
    opacity: 0;
    z-index: 9998;
    cursor: auto;
}

.ActiveBgBlackClrEffect {
    visibility: visible;
    opacity: 0.4;
    cursor: url('../../../public/image/cursorImg/close.png'), auto;
}

.toggleSideBar {
    position: fixed;
    width: 30%;
    background-color: var(--WhiteColor);
    right: 0;
    top: 0;
    height: 100vh;
    padding: 40px;
    overflow-y: scroll;
    z-index: 9999;
    transform: translateX(100%);
    transition: 0.5s;
    cursor: auto;
}

.activeToggleSideBar {
    transform: translateX(0%);
}

.toggleSideBar::-webkit-scrollbar {
    display: none;
}

.toggleSideBar .sideBarLogo {
    width: 90%;
}

.toggleSideBar .toggleClose,
.sideBarGalleryImgSlider .sideBarGalleryImgSliderClose,
.sideBarGalleryImgSlider .sideBarGalleryImgSliderLeft,
.sideBarGalleryImgSlider .sideBarGalleryImgSliderRight {
    background-color: var(--LightWhiteColor);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
}

.toggleSideBar .toggleClose svg,
.sideBarGalleryImgSlider .sideBarGalleryImgSliderClose svg {
    transition: 0.3s;
}

.toggleSideBar .toggleClose:hover svg,
.sideBarGalleryImgSlider .sideBarGalleryImgSliderClose:hover svg {
    transform: rotateZ(45deg);
}

.toggleSideBar p {
    color: var(--LightTextColor);
    font-size: 90%;
    padding-top: 10px;
    line-height: 25px;
}

.toggleSideBar h2 {
    padding-top: 30px;
    font-size: 160%;
    padding-bottom: 10px;
}

.sideBarGalleryImg img {
    width: 100%;
}

.sideBarGalleryImgSlider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.activeSideBarGalleryImgSlider {
    opacity: 1;
    visibility: visible;
}

.sideBarGalleryImgSlider .sideBarGalleryImgSliderClose,
.sideBarGalleryImgSlider .sideBarGalleryImgSliderLeft,
.sideBarGalleryImgSlider .sideBarGalleryImgSliderRight {
    position: absolute;
    width: 60px;
    height: 60px;
}

.sideBarGalleryImgSlider .sideBarGalleryImgSliderClose svg,
.sideBarGalleryImgSlider .sideBarGalleryImgSliderLeft svg,
.sideBarGalleryImgSlider .sideBarGalleryImgSliderRight svg {
    font-size: 200%;
}

.sideBarGalleryImgSlider .sideBarGalleryImgSliderClose {
    top: 0;
    right: 0;
}

.sideBarGalleryImgSlider .sideBarGalleryImgSliderLeft {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.sideBarGalleryImgSlider .sideBarGalleryImgSliderRight {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.sideBarGalleryImgSlider .sideBarGalleryImgSliderImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 60vh;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarGalleryImgSlider .sideBarGalleryImgSliderImg img {
    height: 100%;
    max-width: 100%;
}

.sideBarGalleryImg img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}

.sideBarContact ul.sideBarContactText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.sideBarContact ul.sideBarContactText li a {
    display: flex;
    align-items: center;
    font-size: 100%;
    color: var(--LightTextColor);
    gap: 10px;
}

.sideBarContact ul.sideBarContactText li a svg {
    font-size: 120%;
    color: var(--LightThemeColor);
}

.sideBarContact ul.sideBarContactLogos {
    display: flex;
    gap: 5px;
    padding-top: 30px;
}

.sideBarContact ul.sideBarContactLogos li a {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: var(--WhiteColor);
}

.sideBarContact ul.sideBarContactLogos li a:hover {
    transform: translateY(-15%);
}

.sideBarContact ul.sideBarContactLogos li a svg {
    font-size: 120%;
}

.sideBarNavLinks {
    display: none;
    flex-direction: column;
}

.sideBarNavLinks>ul {
    padding: 30px 0px;
}

.sideBarNavLinks ul li {
    padding: 10px 0px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.sideBarNavLinks>ul>li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.sideBarNavLinks>ul>li>a {
    width: 60%;
    padding: 10px 0px;
}

.sideBarNavLinks>ul>li>svg {
    color: var(--LightThemeColor);
    font-size: 120%;
    background-color: var(--LightWhiteColor);
    padding: 10px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
}

.sideBarNavLinks ul li:last-child {
    border: none;
}

.sideBarNavLinks>ul>li:last-child {
    padding-bottom: 0px;
}

.sideBarNavLinks>ul>li>ul {
    width: 100%;
    transition: 0.5s !important;
    transform: rotateX(90deg);
    transform-origin: top;
    height: 0px;
}

.sideBarNavLinks>ul>li>ul.activeSubNavLinks {
    height: 100%;
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.sideBarNavLinks>ul>li>ul>li {
    font-size: 85%;
}


@media only screen and (max-width: 1100px) {
    .fristHeader {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
    .fristHeader {
        display: none !important;
    }

    .navLinksBox {
        display: none;
    }

    .sideBarNavLinks {
        display: flex;
    }

    .toggleSideBar {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    .mainHeader{
        height: 70px;
    }
    .headerLogo img {
        width: 70%;
    }
    .toggle {
        max-width: 70px;
    }
}

@media only screen and (max-width: 400px) {
    .headerLogo img {
        width: 100%;
    }
    .toggleSideBar{
        font-size: 14px;
    }
}