:root{
  --LightThemeColor: #05dac3;
  --DarkThemeColor: #020626;
  --WhiteColor: #fff;
  --BlackColor: #000;
  --ShadowColor: rgba(0, 0, 0, 0.25);
  --LightTextColor: #757575;
  --ColorThemeTransparent: rgba(21, 34, 56, 0.7)
}


@font-face {
  font-family: thin;
  src: url('./assets/font/Roboto-Thin.otf');
}

@font-face {
  font-family: light;
  src: url('./assets/font/Roboto-Light.otf');
}

@font-face {
  font-family: regular;
  src: url('./assets/font/Roboto-Regular.otf');
}

@font-face {
  font-family: medium;
  src: url('./assets/font/Roboto-Medium.otf');
}

@font-face {
  font-family: bold;
  src: url('./assets/font/Roboto-Bold.otf');
}

@font-face {
  font-family: black;
  src: url('./assets/font/Roboto-Black.otf');
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: regular;
  letter-spacing: 1px;
}

body {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

html{
  scroll-behavior: smooth;
}

::selection{
  color: var(--WhiteColor);
  background-color: var(--ColorTheme);
}