:root{
  --ColorTheme: rgb(21, 34, 56);
  --WhiteColor: #fff;
  --BlackColor: #000;
  --ShadowColor: rgba(0, 0, 0, 0.25);
  --LightTextColor: #757575;
  --ColorThemeTransparent: rgba(21, 34, 56, 0.7)
}


@font-face {
  font-family: WhisperFont;
  src: url('./assets/font/Whisper-Regular.ttf');
}

@font-face {
  font-family: RegularFont;
  src: url('./assets/font/Lato-Regular.ttf');
}

@font-face {
  font-family: LightFont;
  src: url('./assets/font/Lato-Light.ttf');
}

@font-face {
  font-family: BoldFont;
  src: url('./assets/font/Lato-Bold.ttf');
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: RegularFont;
  letter-spacing: 1px;
}

body {
  font-size: 16px;
}

html{
  scroll-behavior: smooth;
}

::selection{
  color: var(--WhiteColor);
  background-color: var(--ColorTheme);
}