.testimonialSection {
    background-image: url(../../../public/image/featureBg.png);
    /* background-size: cover; */
    background-color: rgba(5, 218, 195, 0.05);
}

.testimonialSection>div>h1 {
    width: 100%;
    font-size: 600%;
    font-family: Black;
    color: transparent;
    background: url(../../../public/image/TestimonialSectionImg/textBgImg.jpg);
    text-align: center;
    width: 100%;
    background-clip: text;
    background-size: 70%;
    background-position: center;
    text-transform: lowercase;
    padding: 50px 0px;
    position: relative;
}

.testimonialSection>div>h1::after,
.testimonialSection>div>h1::before {
    content: '';
    position: absolute;
    height: 2.5px;
    width: 5%;
    background-color: var(--LightThemeColor);
    top: 50%;
}

.testimonialSection>div>h1::after {
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
}

.testimonialSection>div>h1::before {
    right: calc(50% + 300px);
    transform: translate(50%, -50%);
}

@media only screen and (max-width: 900px) {
    .testimonialSection {
        font-size: 11px;
    }

    .testimonialSection>div>h1::after {
        left: calc(50% + 220px);
    }

    .testimonialSection>div>h1::before {
        right: calc(50% + 220px);
    }
}

@media only screen and (max-width: 500px) {
    .testimonialSection {
        font-size: 6px;
    }

    .testimonialSection>div>h1::after {
        left: calc(50% + 120px);
    }

    .testimonialSection>div>h1::before {
        right: calc(50% + 120px);
    }
}